---
import BaseLayout from '../layouts/BaseLayout.astro';

import ContactCTA from '../components/ContactCTA.astro';
import Hero from '../components/Hero.astro';
---

<BaseLayout title="Sobre Mí | Osmar Ruiz" description="Sobre Osmar Ruiz">
	<div class="stack gap-20">
		<main class="wrapper about">
			<Hero
				title="Sobre Mí"
				tagline="Conoce más sobre mi trayectoria y pasión por el desarrollo web."
			>
				<img
					width="1553"
					height="873"
					src="/assets/at-work.png"
					alt="developer web"
				/>
			</Hero>

			<section>
				<h2 class="section-title">¿Quién soy?</h2>
				<div class="content">
					<p>
						Soy un estudiante de Ingeniería en Sistemas con una gran pasión por la tecnología y el desarrollo web. Motivado por crecer profesionalmente en el mundo de la programación, actualmente estoy en la etapa final de mis estudios y me graduaré el próximo año.
					</p>
					<br>
					<p>
						A pesar de estar en proceso de obtener mi título, he tenido la oportunidad de trabajar en diversos proyectos académicos y personales, donde he desarrollado habilidades clave en desarrollo frontend, desarrollo backend, diseño web y manejo de bases de datos. Mi objetivo es seguir aprendiendo y enfrentar nuevos desafíos mientras me preparo para mi carrera como ingeniero en sistemas.
					</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Mi trayectoria</h2>
				<div class="content">
					<p>
						A lo largo de mi formación académica, he tenido la oportunidad de trabajar en proyectos relacionados con 
						el desarrollo de aplicaciones web y sistemas, como un sistema contable educativo que desarrollé como parte 
						de un proyecto universitario. Este proyecto me permitió aplicar conceptos importantes de programación y diseño de interfaces, 
						además de aprender a trabajar en equipo y gestionar un proyecto desde su inicio hasta su finalización.
					</p>
					
				</div>
			</section>
			<section>
				<h2 class="section-title">Educaci&oacute;n</h2>
				<div class="content">
					<ul>
						<li>Ingeniería en Sistemas (UNAN - Le&oacute;n, 2025)</li>
						<li>Curso "Introducci&oacute;n a la Programaci&oacute;n en PYTHON" (UNAN - Le&oacute;n, 2023)</li>
						<li>Curso "Control de Versiones en GIT y GIT-LAB" (UNAN - Le&oacute;n, 2023)</li>
					</ul>
				</div>
			</section>
			<section>
				<h2 class="section-title">Habilidades</h2>
				<div class="content">
					<img src="/assets/icons8-c-sharp-logo-2-48.png" alt="c-sharp">
					<img src="/assets/icons8-javascript-48.png" alt="javascript">
					<img src="/assets/icons8-react-native-48.png" alt="react">
					<img src="/assets/icons8-bootstrap-48.png" alt="bootstrap">
					<img src="/assets/icons8-tailwind-css-48.png" alt="tailwind css">
					<img src="/assets/icons8-mysql-48.png" alt="mysql">
					<img src="/assets/icons8-sql-server-48.png" alt="sql server">
					<img src="/assets/icons8-git-48.png" alt="git">
					<img src="/assets/icons8-figma-48.png" alt="figma">

				</div>
			</section>
		</main>

		<ContactCTA />
	</div>
</BaseLayout>

<style>
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	.content {
		grid-column: 2 / 4;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}
</style>
