---
import BaseLayout from "../layouts/BaseLayout.astro";

import ContactCTA from "../components/ContactCTA.astro";
import Hero from "../components/Hero.astro";
---

<BaseLayout title="Sobre Mí | Osmar Ruiz" description="Sobre Osmar Ruiz">
  <div class="stack gap-20">
    <main class="wrapper about">
      <Hero
        title="Sobre Mí"
        tagline="Conoce más sobre mi trayectoria y pasión por el desarrollo web."
      >
        <img
          width="1553"
          height="873"
          src="/assets/about/at-work.webp"
          alt="developer web"
        />
      </Hero>

      <section>
        <h2 class="section-title">¿Quién soy?</h2>
        <div class="content">
          <p>
            Desarrollador Web Full-Stack con experiencia en <span class="bold">React</span>, <span class="bold">TypeScript</span> y <span class="bold">.NET</span>, enfocado en crear soluciones tecnológicas escalables y eficientes. He optimizado el rendimiento de aplicaciones front-end (reducción de tiempos de carga en un 66%) y automatizado procesos administrativos (80% de automatización, 50% reducción en tiempo de registro). Con experiencia en desarrollo de interfaces dinámicas, integración de APIs y gestión de bases de datos en proyectos colaborativos.
          </p>
          
        </div>
      </section>

      
      <section>
        <h2 class="section-title">Educaci&oacute;n</h2>
        <div class="content">
          <ul>
            <li>Ingeniería en Sistemas (UNAN - Le&oacute;n, 2025)</li>
            <li>
              Curso "Introducci&oacute;n a la Programaci&oacute;n en PYTHON"
              (UNAN - Le&oacute;n, 2023)
            </li>
            <li>
              Curso "Control de Versiones en GIT y GIT-LAB" (UNAN - Le&oacute;n,
              2023)
            </li>
          </ul>
        </div>
      </section>
      <section>
        <h2 class="section-title">Habilidades Técnicas</h2>
        <div class="content">
          <div>
            <p class="bold">Lenguajes de programación</p>
            <img
              src="/assets/icons/icons8-c-sharp-logo-2-48.png"
              alt="c-sharp"
            />
            <img
              src="/assets/icons/icons8-javascript-48.png"
              alt="javascript"
            />
            <img
              src="/assets/icons/icons8-typescript-48.png"
              alt="typescript"
            />
          </div>
          <br />
          <div>
            <p class="bold">Tecnologías y Frameworks</p>
            <img
              src="/assets/icons/dotnet.svg"
              width="43"
              height="43"
              alt="dotnet"
            />
            <img src="/assets/icons/icons8-react-native-48.png" alt="react" />
            <img src="/assets/icons/icons8-sql-48.png" alt="sql" />
            <img src="/assets/icons/icons8-git-48.png" alt="git" />
            <img src="/assets/icons/icons8-figma-48.png" alt="figma" />
          </div>
        </div>
      </section>
      <section>
        <h2 class="section-title">Habilidades Blandas</h2>
        <div class="content">
          <ul>
            <li>Trabajo en equipo</li>
            <li>Resolución de problemas</li>
            <li>Comunicación efectiva</li>
            <li>Adaptabilidad</li>
          </ul>
        </div>
      </section>
    </main>

    <ContactCTA />
  </div>
</BaseLayout>

<style>
  .about {
    display: flex;
    flex-direction: column;
    gap: 3.5rem;
  }

  .bold {
    font-weight: 600;
  }

  img {
    margin-top: 1.5rem;
    border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
  }

  section {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    color: var(--gray-200);
  }

  .section-title {
    grid-column-start: 1;
    font-size: var(--text-xl);
    color: var(--gray-0);
  }

  .content {
    grid-column: 2 / 4;
  }

  .content :global(a) {
    text-decoration: 1px solid underline transparent;
    text-underline-offset: 0.25em;
    transition: text-decoration-color var(--theme-transition);
  }

  .content :global(a:hover),
  .content :global(a:focus) {
    text-decoration-color: currentColor;
  }

  @media (min-width: 50em) {
    .about {
      display: grid;
      grid-template-columns: 1fr 60% 1fr;
    }

    .about > :global(:first-child) {
      grid-column-start: 2;
    }

    section {
      display: contents;
      font-size: var(--text-lg);
    }
  }
</style>
